<div class="card h-100" style="max-width: 18rem;">
  <picture>
    <img [src]="product?.imageUrl" alt=".." class="card-img-top">
  </picture>

  <div class="card-body text-center d-flex flex-column gap-1 ">

    <div class="card-text fw-bold d-flex justify-content-between text-start">
      <span>{{ product?.productName }}</span>

      <span class="badge text-bg-secondary ">
        <i class="bi bi-box"></i>
        {{product?.productStock}}
      </span>

    </div>

    <p  class="text-success text-start m-0" style="font-size: small;">
      {{ product?.productSKU }}
    </p>

    <div class="price text-start fs-5 p-2 d-flex  align-items-center justify-content-center gap-1">
      <span>{{ product?.regularPrice | number:'1.2-2' }}</span>
      <span>ر.س</span>
    </div>


    <button *ngIf="roles.includes('admin')" (click)="addToCart(product)" class="btn btn-primary w-100 d-flex justify-content-center align-items-center">
      <i class="bi bi-plus fs-5"></i>
      <span>إضافة للسلة</span>
    </button>
  </div>
</div>
