.parastoo {
  font-family: "Parastoo", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


.inner{
    max-width: 1400px;
    margin: 0 auto;
}

nav{
    backdrop-filter: blur(4px);     
    -webkit-backdrop-filter: blur(4px);

    min-height: 78px;
    border-bottom: 3px solid #c2fac4;
    box-shadow: 0 7px 20px #ccfcce;
}

.bi-shop-window{
    background-color: transparent ;
    box-shadow: 0px 5px 5px rgb(0 0 0 / .1);
    border-radius: 15px;
}

.title{
    font-family: "Parastoo", serif;
    background: linear-gradient(to right, #21DD59 , #FBFE01);
    background-clip: text;  
    -webkit-text-fill-color: transparent; 

}

.title-sm{
    font-family: "Parastoo", serif;
    border-radius: 30px;
    padding: 0 10px;
    transition: background-color 0.2s ease-in-out;
}

.title-sm:hover{
    background-color: #21dd59c6 ;
}


.bi-box{
    color: #3399ff !important;
}

.cartQuantity{
    color:white;
    background-color: transparent;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.075);
    animation: shadowPulse 2s infinite ease-in-out;
    border-radius: 10px;
    padding: 0 10px;
    font-size: small;
    transition: background-color 0.2s ease-in-out;
}


@keyframes shadowPulse {
  0% {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  }
  50% {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  }
  100% {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  }
}

.cartQuantity:hover{
    background-color: #21dd59c6;
    animation: backgroundColor 2s infinite ease-in-out;

}

@keyframes backgroundColor{
    0%{
        background-color: #21dd59c6;
    }
    50%{
        background-color: #21dd596e;
    }
    100%{
        background-color: #21dd59c6;
    }
}

