<nav class="navbar sticky-top">
  <div class="inner  d-flex justify-content-between align-items-center  w-100">
    <div class="d-flex align-items-center justify-content-center gap-3 ">
        <i class="bi bi-shop-window text-white p-2 "></i>
        <span class="title fs-2 fw-bold ">نظام نقاط البيع</span>
        <span class="title-sm text-white fw-bold   ">متجر المواد الغذائية</span>
        
    </div>

    <div class="d-flex justify-content-center align-items-center gap-4">
      <div>
        <i class="bi bi-box"></i>
        منتج {{productsQuantity}}
      </div>
      <div class="cartQuantity fw-bold" *ngIf="currentCart.length"> {{currentCart.length}} عنصر في السلة</div>
    </div>
  </div>
</nav>
