<div class="market-place-about">
  <div class="page-content">
    <div class="placeholder-content">
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
    </div>

    <div class="placeholder-content">
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
    </div>

    <div class="placeholder-content">
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
    </div>
  </div>
</div>
