<div class="content mt-4">
  <div class="row">
    <div class="col-lg-8 d-flex flex-column gap-2 left-column">
      <button
        data-testid="goBackButton"
        routerLink="/"
        class="btn d-flex justify-content-center align-items-center gap-1"
      >
        <i class="bi bi-arrow-left-short fs-4"></i>
        العودة للفئات
      </button>
      <div data-testid="categoryName" class="text-start fw-bold fs-4">
        {{ currentCategory?.categoryName }}
      </div>
      <div class="text-start notFound" *ngIf="products.length === 0">
        لا توجد منتجات في هذه الفئة
      </div>
      <div
        *ngIf="products.length === 0"
        class="h-100 d-flex flex-column justify-content-center align-items-center gap-3 mt-5"
      >
        <i class="bi bi-box-seam fs-2"></i>
        <span class="notFound">لا توجد منتجات في هذه الفئة</span>
        <button
          data-testid="goBackButton"
          routerLink="/"
          class="btn d-flex justify-content-center align-items-center gap-1"
        >
          العودة لاختيار فئة أخرى
        </button>
      </div>
      <div *ngIf="products.length > 0">
        <div class="text-start">تم العثور على {{ products.length }} منتجات</div>
        <div class="d-flex justify-content-center gap-3 flex-wrap mt-4">
          <product-card
            *ngFor="let product of products"
            [product]="product"
          ></product-card>
        </div>
      </div>
    </div>
    <div class="col">
      <cart></cart>
    </div>
  </div>
</div>
