.parastoo {
  font-family: "Parastoo", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.modal{
    font-family: "Parastoo", serif;
    
}

.productName {
    font-size: large;
}


.productQuantity,
.date{
    font-size: medium;
    color: #64748b;
}

.productTotalPrice,
.totalPrice,
.store{ 
    color:#21DD59;
}


.modal-title{
    font-weight: 900 !important;
}

.download button{
    background-color: #d7f7d7;
    color: black;
    border: 2px solid #c2fac4cb;
    border-radius: 5px;
    padding: 6px 15px;
    transition: all 0.2s ease-in-out;

}

.download button:hover{
    background-color: #ffff00;
    border-color: #ffff00;
}

.close button{
    background-color: #21DD59;
    border: none;
    border-radius: 10px;
    width: fit-content;
    padding: 6px 15px;

    transition: all 0.3s ease;

}

.close button:hover{
    background-color: #21dd59c8 ;
}
