.btn{
    padding: 0;
    border: none;
    background-color: transparent;
    color: #15e253;
    transition: all 0.3s ease;
}

.btn:hover{

    transform: scale(1.1);
    color: #15e252ad;
    background-color: transparent;
}

.btn.focus{
    background-color: transparent !important;
}


.dropdown-menu{
    z-index: 100;
}

.dropdown-toggle:active,
.dropdown-toggle.show {
  background-color: transparent !important;
  color: #15e253 !important; 

}
