<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-person-circle fs-4"></i>
  </button>
  <ul class="dropdown-menu dropdown-menu-end">
    <li>
        <div class="dropdown-item d-flex flex-column">
            <span class="text-center fw-bold" style="color:#15e253;">
                {{loggedInUser?.nickname || loggedInUser?.name}}
            </span>
            <span class="text-center text-muted">
                {{loggedInUser?.email || loggedInUser?.email}}
            </span>
        </div>
    </li>
    <li>
        <hr class="dropdown-divider">
    </li>
    <li>
        <button class="dropdown-item text-center logout fw-bold"
                style="color:#15e253;"
                (click)="auth.logout()">
            <i class="bi bi-box-arrow-left"></i>
            تسجيل خروج
        </button>
    </li>
  </ul>
</div>