<div class="cart p-4 sticky-top ">
    <div class="cart-top d-flex justify-content-between align-items-center">
        <div class="cartSymbol d-flex gap-2">
            <i class="bi bi-cart2 fs-4"></i>
            <span class="fs-4">السلة</span>
        </div>
        <span class="badge text-bg-secondary d-flex align-items-center justify-content-center text-dark"
              [class.notEmpty]="currentCart.length">
            {{cartProductsQuantity}}
        </span>
    </div>
    <div class="cartItems d-flex flex-column">
        <div class="text-center" *ngIf="currentCart.length === 0" style="color: #64748b;" >السلة فارغة</div>
        <div *ngIf="currentCart.length > 0">
                <div  *ngFor="let product of currentCart" style="width: 100%;">
                    <cart-item-card [product]="product"></cart-item-card>
                </div>
            <div class="placeOrder ">
                <div class="summary d-flex justify-content-between mt-4">
                    <span class="fw-bold">المجموع:</span>
                    <div class="totalPrice d-flex justify-content-center align-items-center gap-1">
                        <span class="fs-4" style="font-weight: 900;">{{totalPrice | number:'1.2-2'}} </span>
                        <span class="fs-5">ر.س</span>
                    </div>
                </div>
                <div class="actions row gx-2 mt-4">
                    <div class="col-md-10 mb-2">
                        <button (click)="placeOrder()" data-bs-toggle="modal" data-bs-target="#receiptModal" class="btn w-100 text-bg-secondary">إتمام الطلب</button>
                    </div>
                    <div class="col-md-2 mb-2">
                        <button (click)="clearCart()" class=" clearBtn w-100 ">مسح</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<receipt [cart]="recepitCart"></receipt>
