.price{
    color: #21DD59;
    background-color: #E5F8E5;
    width: fit-content;
    border-radius: 10px;
    padding: 2px 8px;
    font-weight: 900;
}

img{
    max-width: 3rem;
    border: 2px solid #ddfde5;
    border-radius: 5px;
}

.card{
    border: 2px solid #c2fac4cb;
    border-radius: 10px;
    background: linear-gradient(to right, #0bda570d, #ffff000d);

}

.deleteItem{
    min-width: 40px;
    border-radius: 10px;
    cursor: pointer;
}

.deleteItem,
.deleteItem .bi-trash3{
    transition: all 0.3s ease;

}

.deleteItem:hoveR{
    background-color: rgba(255, 0, 0, 0.755);

}

.deleteItem:hover .bi-trash3 {
  color: white !important;
}

.input-group input{
    background-color: #E5F8E5;
    border: none;
    border-radius: 10px !important;
    flex: 0 0 35px !important;
    height: 30px;  
    padding: 0; 
    margin: 0;   
    text-align: center;
    font-size: 14px; 
     
}

.input-group button{
    border: 2px solid #c2fac4cb;
    border-radius: 5px !important;
    flex: 0 0 28px !important;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.input-group button:hover{
    background-color: #21DD59 !important;
    border-color: #21DD59;
}

.input-group i{
    font-size: small;
}

.totalPrice{
    background-color: #e5f8e59b;
    padding: 3px 9px;
    border-radius: 10px;
    color:#64748b;
    font-size: small;
}